[package]
name = "omelette"
version = "0.1.0"
authors = ["FeÌlix Saparelli <felix@passcod.name>"]

[dependencies]
clap = "2.32.0"
dotenv = "0.9.0"
egg-mode-text = "1.14.7"
log = "0.4.6"
chrono = "0.4.6"

[dependencies.diesel]
version = "1.3.3"
features = ["postgres"]

[dependencies.diesel-derive-enum]
version = "0.4.4"
features = ["postgres"]

[dependencies.egg-mode]
git = "https://github.com/QuietMisdreavus/twitter-rs"
